* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #363467 0%, rgba(30,29,79,0.8) 100%);
  display: flex;
  justify-content: flex-start; /* inicia a partir da esquerda */
  align-items: center; /* alinha verticalmente */
  gap: 50px;
  padding-left: 30px;
  flex-wrap: wrap; /* quebra em telas pequenas */
}

.layout {
  display: flex;
  justify-content: center; /* centraliza horizontalmente os itens */
  align-items: flex-start; /* alinha os componentes no topo */
  gap: 40px; /* espaço entre ToDo e Note */
  padding: 40px;
  flex-wrap: wrap; /* empilha no mobile */
}

.note {
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #363467;
}

.ToDo {
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #363467;
}

/* Responsividade */
@media (max-width: 768px) {
  body {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .layout {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  .note {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    width: 90%;
    max-width: 400px;
  }

  .ToDo {
    width: 90%;
    max-width: 400px;

  }

  .container {
    width: 100%;
  }
}


