.trash-icon {
  width: 20px;
  height: 20px;
}

.containerNotes {
  width: 300px;
  background-color: #fff;
  border-radius: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.formNotes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 5px;
}

.buttCadastroNotes {
  padding: 8px;
  border-radius: 50px;
  border: 1px solid black;
  background-color: cornflowerblue;

}

.usercardNotes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: rosybrown;


}

.listaDeTarefasNote {
  height: 300px;
  /* altura fixa do bloco */
  overflow-y: auto;
  /* ativa rolagem vertical se necessário */
  padding-right: 10px;
  /* espaço pro scroll não colar nos botões */
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* espaço entre tarefas */
  background-color: blanchedalmond;
  border-radius: 10px;
}